<nav class="navbar navbar-dark sticky-top bg-dark flex-md-nowrap p-0">
    <img src="assets/images/logo-header.png" alt="" height="58" class="m-1">
    
    <div class="d-flex align-items-center text-white px-3">
        <img src="https://randomuser.me/api/portraits/men/43.jpg" alt="" width="24" height="24" class="rounded-circle mr-2">
        <strong>Yasine</strong>

        <a href="#" class="btn btn-outline-danger btn-sm p-1 ml-3">Logout</a>
    </div>
</nav>

<div class="container-fluid">
    <div class="row">
        <main-menu class="col-md-2 d-none d-md-block bg-light sidebar"></main-menu>
        <main role="main" class="col-md-9 ml-sm-auto col-lg-10 p-4">
            <router-outlet class="d-block"></router-outlet>
        </main>
    </div>
</div>

