<nav class="col-md-2 d-none d-md-block bg-light sidebar">
    <div class="sidebar-sticky">
        <ul class="nav flex-column">
            <li class="nav-item">
                <a class="nav-link active" href="#">

                </a>
            </li>


            <li class="nav-item">
                <a [routerLink]="['/accounts']" routerLinkActive="active" class="nav-link active">
                    <span data-feather="file"></span>
                    Accounts
                </a>
            </li>
            <!--<li class="nav-item">-->
                <!--<a [routerLink]="['/register']" routerLinkActive="active" class="nav-link active">-->
                    <!--<span data-feather="shopping-cart"></span>-->
                    <!--Registration-->
                <!--</a>-->
            <!--</li>-->
            <li class="nav-item">
                <a class="nav-link" href="#">
                    <span data-feather="users"></span>
                    Food control
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">
                    <span data-feather="bar-chart-2"></span>
                    Waste
                </a>
            </li>
            <li class="nav-item">
                <a [routerLink]="['/stores']" routerLinkActive="active" class="nav-link active">
                    <span data-feather="layers"></span>
                    Stores
                </a>
            </li>
            <li class="nav-item">
            <a [routerLink]="['/register']" routerLinkActive="active" class="nav-link active">
            <span data-feather="shopping-cart"></span>
            Registration
            </a>
            </li>
        </ul>



    </div>
</nav>









