<nav>
    <div class="sidebar-sticky">
        <ul class="nav flex-column">
            <li class="nav-item">
                <a [routerLink]="['/accounts']" routerLinkActive="active" class="nav-link">
                    <span data-feather="users"></span>
                    Accounts
                </a>
            </li>

            <li class="nav-item">
                <a [routerLink]="['/donations']" routerLinkActive="active" class="nav-link">
                    <span data-feather="check-circle"></span>
                    Donations
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">
                    <span data-feather="trash"></span>
                    Waste
                </a>
            </li>
            <li class="nav-item">
                <a [routerLink]="['/stores']" routerLinkActive="active" class="nav-link">
                    <span data-feather="shopping-bag"></span>
                    Stores
                </a>
            </li>
            <li class="nav-item">
                <a [routerLink]="['/healthmap']" routerLinkActive="active" class="nav-link">
                    <span data-feather="activity"></span>
                    Health Map
                </a>
            </li>
            <li class="nav-item">
                <a [routerLink]="['/healthmapedit']" routerLinkActive="active" class="nav-link">
                    <span data-feather="layers"></span>
                    GPS Data
                </a>
            </li>


        </ul>

    </div>
</nav>









