<div class="d-flex align-items-center pb-4">
    <h1 class="h2 m-0">Hajj Accounts</h1>
    <a routerLink="/register" routerLinkActive="active" class="btn btn-primary ml-auto">
        <span data-feather="file"></span> New Account
    </a>
</div>

<table class="table table-bordered table-stripped">
    <thead>
    <tr>
        <th>First Name</th>
        <th>Last Name</th>
        <th>Nationality</th>
        <th>Gender</th>
        <th>Health Risk Level</th>
        <th class="text-center">Action</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let item of accountList | async">
        <td  class="align-middle">{{ item.firstname }}</td>
        <td  class="align-middle">{{ item.lastname }}</td>
        <td  class="align-middle">{{ item.nationality }}</td>
        <td  class="align-middle">{{ item.gender }}</td>
        <td  class="align-middle">{{ item.risklevel }}</td>
        <td  class="align-middle text-center"><a routerLink="/editaccount/{{item.id}}" routerLinkActive="active" class="btn btn-outline-primary btn-sm"> Edit </a></td>
    </tr>
    </tbody>
</table>


