<div class="row">
    <h1 class="h2">New Account</h1>



</div>
<div class="row">
    <div class="col-6">
        <h4 >Personal Information</h4>
        <form class="form">
            <div class="form-group">
                <label >Given Name</label>
                <input type="text" class="form-control" [ngModelOptions]="{standalone: true}" [(ngModel)]="account.firstname" aria-describedby="emailHelp" placeholder="First name">
            </div>
            <div class="form-group">
                <label >Surname</label>
                <input type="text" class="form-control"  [ngModelOptions]="{standalone: true}" [(ngModel)]="account.lastname" aria-describedby="emailHelp" placeholder="Last Name">
            </div>
            <div class="form-group">
                <label >Nationality</label>
                <input type="text" class="form-control"  [ngModelOptions]="{standalone: true}" [(ngModel)]="account.nationality" aria-describedby="emailHelp" placeholder="Nationality">
            </div>
            <div class="form-group">
                <label >Gender</label>
                <select class="form-control" [ngModelOptions]="{standalone: true}" [(ngModel)]="account.gender">
                    <option value="Male">Male</option>
                    <option value="Female">Female</option>
                </select>
            </div>
            <div class="form-group">
                <label >Age</label>
                <input type="number" class="form-control"  [ngModelOptions]="{standalone: true}" [(ngModel)]="account.age" aria-describedby="emailHelp" placeholder="Age">
            </div>

        </form>
    </div>


    <div class="col-6">
        <h4 >Medical Information</h4>
        <form class="form">

            <div class="form-group form-check">
                <input type="checkbox" [ngModelOptions]="{standalone: true}" [(ngModel)]="account.cardiosick" class="form-check-input" id="exampleCheck1">
                <label class="form-check-label" for="exampleCheck1">Heart Sickness ?</label>
            </div>

            <div class="form-group form-check">
                <input type="checkbox" [ngModelOptions]="{standalone: true}" [(ngModel)]="account.surgery" class="form-check-input" id="exampleCheck1">
                <label class="form-check-label" for="exampleCheck1">Previous Surgery ?</label>
            </div>

            <div class="form-group form-check">
                <input type="checkbox" [ngModelOptions]="{standalone: true}" [(ngModel)]="account.bloodpressure" class="form-check-input" id="exampleCheck2">
                <label class="form-check-label" for="exampleCheck1">Blood Pressure ?</label>
            </div>

            <div class="form-group form-check">
                <input type="checkbox" [ngModelOptions]="{standalone: true}" [(ngModel)]="account.sugar" class="form-check-input" id="exampleCheck1">
                <label class="form-check-label" for="exampleCheck1">Sugar ?</label>
            </div>

            <div class="form-group form-check">
                <input type="checkbox" [ngModelOptions]="{standalone: true}" [(ngModel)]="account.epileptic" class="form-check-input" id="exampleCheck2">
                <label class="form-check-label" for="exampleCheck1">Epileptic ?</label>
            </div>
            <div class="form-group form-check">
                <input type="checkbox" [ngModelOptions]="{standalone: true}" [(ngModel)]="account.allergic" class="form-check-input" id="exampleCheck2">
                <label class="form-check-label" for="exampleCheck1">Allergic ?</label>
            </div>
            <div >

                <label class="form-check-label" for="exampleCheck1">Allgergy ?</label>
                <textarea class="form-control" [ngModelOptions]="{standalone: true}" [(ngModel)]="account.allgergy"></textarea>

            </div>

        </form>
        <br />
        <button type="button" (click)="onSave()" class="btn btn-primary">Submit</button>
        <button type="button" (click)="deleteAccount()" class="btn btn-danger">Delete</button>
    </div>
</div>


